@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Koulen";
	src: url("/fonts/Koulen-Regular.ttf");
}

@font-face {
	font-family: "LuxuriousScript";
	src: url("/fonts/LuxuriousScript-Regular.ttf");
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 16% 40%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 206 90% 47%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		/* --muted: 217.2 32.6% 17.5%; */
		--muted: 215, 16%, 47%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 206 90% 47%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: hsl(212.7, 26.8%, 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.custom-shadow-black {
		box-shadow:
			20px 20px 40px 10px rgba(0, 0, 0, 0.2),
			-2px -2px 20px 0 rgba(0, 0, 0, 0.2);
	}

	.custom-shadow-white {
		box-shadow:
			20px 20px 40px 10px rgba(255, 255, 255, 0.2),
			-2px -2px 20px 0 rgba(255, 255, 255, 0.2);
	}

	.custom-drop-shadow-white {
		filter: drop-shadow(0 0 0.3rem #ffffff);
	}

	.custom-drop-shadow-black {
		filter: drop-shadow(1px 0 0.4rem #000000);
	}
}

:root {
	scroll-behavior: smooth;
}